.link {
	color: var(--g-dark-blue-color);

	&:hover {
		text-decoration: none;
	}
}

.list {
	list-style-type: none;

	.list__item {
		padding: 2px 0;
	}
}

.container {
	display: flex;

	&.container--vertical {
		flex-direction: column;
	}

	&.container--horizontal {
		flex-direction: row;
	}
}

.callout {
	.callout__title {
		padding: 12px 10px;
		cursor: pointer;
	}

	.callout__content {
		border-top: 2px solid var(--g-white-color);
		padding: 15px 25px;
	}

	&.callout--empty {
		.callout__title {
			cursor: default;
			padding-left: 24px;
		}
	}
	
	&.callout--green {
		background-color: var(--g-pale-green-color);
	}
	
	&.callout--yellow {
		background-color: var(--g-pale-yellow-color);
	}
	
	&.callout--red {
		background-color: var(--g-pale-red-color);
	}
}

.frame {
	padding: 20px;
	height: fit-content;

	&.frame--green {
		background-color: var(--g-pale-green-color);
	}
	
	&.frame--yellow {
		background-color: var(--g-pale-yellow-color);
	}
	
	&.frame--red {
		background-color: var(--g-pale-red-color);
	}
}

.details {
	padding: 2px 0;

	&.details--empty {
		padding-left: 15px;
	}

	.details__title {
		cursor: pointer;
	}

	.details__content {
		padding: 4px 4px 4px 16px;
	}
}

.tabs {
	display: flex;
	flex-wrap: wrap;

	.tabs__tab-label {
		padding: 10px 24px;
		cursor: pointer;
	}

	.tabs__tab-handle {
		display: none;
	}

	.tabs__tab-content {
		display: none;
		background-color: var(--g-white-color);
		padding: 10px 24px;
	}

	& > .tabs__tab-handle:checked + .tabs__tab-label + .tabs__tab-content {
		display: block;
		order: 999;
		width: 100%;
	}

	& > .tabs__tab-handle:checked + .tabs__tab-label {
		background-color: var(--g-white-color);
		cursor: default;
	}
}

.tree {
	& & {
		margin-left: 15px;
	}

	.tree__item {
		margin-left: 15px;
		padding: 2px 0;
	}

	.tree__subtree-item {
		cursor: pointer;
		padding: 2px 0;
	}
}

.datalist {
	.datalist__item {
		display: flex;
		align-items: center;
		padding: 10px 25px;
		border-top-width: 1px;
		border-top-style: solid;
		justify-content: space-between;

		&:first-child {
			border: none;
		}
	}

	.datalist__item-label {
		flex-shrink: 0;
		margin-right: 10px;
	}

	&.datalist--border-white {
		.datalist__item {
			border-color: var(--g-white-color);
		}
	}

	&.datalist--border-gray {
		.datalist__item {
			border-color: var(--g-gray-color);
		}
	}
}

.counter {
	display: inline-block;
	font-size: var(--g-x-small-font-size);
	padding: 3px 9px;
	transform: translateY(-0.3em);
	border-radius: 100%;
	background-color: var(--g-white-color);
}
