.link {
	color: var(--g-dark-blue-color);

	&:hover {
		text-decoration: none;
	}
}

.list {
	list-style-type: none;

	.list__item {
		margin-top: 4px;

		&:first-child {
			margin-top: 0;
		}
	}
}

.container {
	display: flex;

	&.container--vertical {
		flex-direction: column;
	}

	&.container--horizontal {
		flex-direction: row;
	}
}

.callout {
	.callout__title {
		padding: 12px 10px;
		cursor: pointer;
		font-size: var(--g-medium-font-size);
	}

	.callout__content {
		background-color: var(--g-white-color);
		margin: 0 25px 25px;
		padding: 18px 25px;
	}

	&.callout--empty {
		.callout__title {
			cursor: default;
			padding-left: 25px;
		}
	}
	
	&.callout--green {
		background-color: var(--g-pale-green-color);
	}
	
	&.callout--yellow {
		background-color: var(--g-pale-yellow-color);
	}
	
	&.callout--red {
		background-color: var(--g-pale-red-color);
	}
}

.frame {
	border: transparent solid 25px;
	height: fit-content;

	&.frame--green {
		border-color: var(--g-pale-green-color);
	}
	
	&.frame--yellow {
		border-color: var(--g-pale-yellow-color);
	}
	
	&.frame--red {
		border-color: var(--g-pale-red-color);
	}
}

.details {
	margin-top: 4px;

	&:first-child {
		margin: 0;
	}

	&.details--empty {
		padding-left: 15px;
	}

	.details__title {
		cursor: pointer;
	}

	.details__content {
		padding: 4px 4px 4px 16px;
	}
}

.tabs {
	display: flex;
	flex-wrap: wrap;

	.tabs__tab-label {
		padding: 10px 24px;
		cursor: pointer;
		border: 1px solid transparent;
		border-left: 0;
		transform: translateY(1px);
	}

	.tabs__tab-handle {
		display: none;
	}

	.tabs__tab-content {
		display: none;
		padding: 15px 0;
		border-top: 1px solid var(--g-gray-color);
		border-left: 0;
	}

	& > .tabs__tab-handle:checked + .tabs__tab-label + .tabs__tab-content {
		display: block;
		order: 999;
		width: 100%;
	}

	& > .tabs__tab-handle:checked + .tabs__tab-label {
		border-color: var(--g-gray-color);
		border-bottom-color: var(--g-white-color);
		cursor: default;
	}
}

.tree {
	& & {
		margin-left: 15px;
	}

	.tree__item {
		margin-left: 15px;
		padding: 2px 0;
	}

	.tree__subtree-item {
		cursor: pointer;
		padding: 2px 0;
	}
}

.datalist {
	.datalist__item {
		display: flex;
		align-items: center;
		padding: 10px 25px;
		border-top-width: 1px;
		border-top-style: solid;
		justify-content: space-between;
		border-color: var(--g-gray-color);

		&:first-child {
			border: none;
		}
	}

	.datalist__item-label {
		flex-shrink: 0;
		margin-right: 25px;
	}

	.datalist__item-value {
		text-align: right;
		overflow-wrap: anywhere;
	}
}

.counter {
	display: inline-block;
	font-size: var(--g-x-small-font-size);
	padding: 3px 9px;
	transform: translateY(-0.3em);
	border-radius: 100%;

	&.counter--white {
		background-color: var(--g-white-color);
	}

	&.counter--gray {
		background-color: var(--g-light-gray-color);
	}
}

.card {
	.card__title {
		border-bottom: 1px solid var(--g-gray-color);
		padding: 10px 0;
	}

	.card__content {
		padding: 15px 0;
	}
}

.item {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: auto max-content;
	gap: 5px;
}

.textbox {
	display: block;
	width: 100%;
	padding: 12px;
	font-family: var(--g-base-font-style);
	font-size: var(--g-base-font-size);
	color: var(--g-dark-gray-color);
	border: none;
	border-radius: 0;
	outline: none;

	&::placeholder {
		color: var(--g-gray-color);
	}
}